body{
    background-image: url('https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 80px;
}